.App {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container {
  margin-bottom: 20px;
}

.search-container {
  text-align: center;
  margin-top: 20px;
}

#search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.book-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-result {
  flex: 0 0 calc(16.666% - 20px); /* 6개의 카드가 한 줄에 배치되도록 계산 */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.book-title {
  margin-top: 10px;
  font-weight: bold;
}
